@model IEnumerable<SERVICE_MARKET.Models.multipleModel>

@{
    ViewBag.Title = "Categorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maxium-scale=1.0, minimum-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Home.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap">
</head>
<body>
    <div class="container">
        <br /><br /><br /><br />
        <h1 class="text-center titulo bold-text">Servicios y solicitudes disponibles</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <script>
                /*Desplazamiento de la página hacia arriba cuando se carga una nueva página*/
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
            </script>
            @foreach (var servicios in Model)
            {
                <div class="col col-12 col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-center bold-text">@servicios.NOMBRE_SER</h4>
                            <p class="card-text"><span class="bold-text">Precio:</span> $@servicios.PRECIO_SER</p>
                            <p class="card-text"><span class="bold-text">Descripción:</span> @servicios.DESCRIPCION_BREVE</p>
                            <p class="card-text"><span class="bold-text">Tipo:</span> @servicios.TIPO</p>
                            <p class="card-text"><span class="bold-text">Categoría:</span> @servicios.NOMBRE_CAT</p>
                            <div class="card-button">
                                <button onclick="masInformacion()" type="button" class="btnCard">Más información</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="pagination justify-content-center">
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
                {
                    <li class="page-item @(i == ViewBag.PaginaActual ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Categorias","HOME", new { buscar = Request.QueryString["categorias"], pagina = i })">@i</a>
                    </li>
                }
            </ul>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto d-block volverInicio">
            <a href="@Url.Action("Index", "HOME")" class="btnBuscador btn btn-outline-primary">Volver al inicio</a>
        </div>
    </div>

    <script>
        function masInformacion() {
            swal({
                icon: "info",
                title: "Más información del servicio",
                text: "Para visualizar todos los detalles inicia sesión con tu cuenta.",
                button: "Ok",
                closeOnClickOutside: false,
                closeOnEsc: false,
            });
        }

        const trunc = document.querySelector('p-trunc');
        trunc.innerText = trunc.innerText.substring(0, 100) + '...';
    </script>

    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

