@model SERVICE_MARKET.Models.multipleModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña - Service Market</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Logos/logo.png" />
    <link href="~/Content/Css/Acceso.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    <section class="row g-0">
        <div class="col-lg-6 d-none d-lg-block">
            <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item c-itemL active">
                        <img src="~/Imagenes/USUARIOS/Login/Trabajos_Domesticos.jpg" class="c-imgL" alt="...">
                        <div class="carousel-caption top-0 mt-5">
                            <p class="textP">Servicios de</p>
                            <h2 class="textH2 fw-bolder text-capitalize">Trabajos domésticos</h2>
                        </div>
                    </div>
                    <div class="carousel-item c-itemL">
                        <img src="~/Imagenes/USUARIOS/Login/Salud_Belleza.jpg" class="c-imgL" alt="...">
                        <div class="carousel-caption top-0 mt-5">
                            <p class="textP">Servicios de</p>
                            <h2 class="textH2 fw-bolder text-capitalize">Salud y Belleza</h2>
                        </div>
                    </div>
                    <div class="carousel-item c-itemL">
                        <img src="~/Imagenes/USUARIOS/Login/Mantenimiento.jpg" class="c-imgL" alt="...">
                        <div class="carousel-caption top-0 mt-5">
                            <p class="textP">Servicios de</p>
                            <h2 class="textH2 fw-bolder text-capitalize">Mantenimiento</h2>
                        </div>
                    </div>
                    <div class="carousel-item c-itemL">
                        <img src="~/Imagenes/USUARIOS/Login/Remodelacion_Albañileria.jpg" class="c-imgL" alt="...">
                        <div class="carousel-caption top-0 mt-5">
                            <p class="textP">Servicios de</p>
                            <h2 class="textH2 fw-bolder text-capitalize">Remodelación y Albañilería</h2>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </div>

        <div class="col-lg-5 d-flex flex-column aling-items-end min-vh-100 containerInfo">
            <div class="px-lg-4 pt-lg-3 pb-lg-3">
                <img id="logo" src="~/Logos/logo derecha.png" class="img-fluid">
            </div>
            <div class="px-lg-5 py-lg-1 p-4 w-100 aling-self-center">
                <h1 class="font-weight-bold" align="center">Cambiar contraseña</h1>

                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.ErrorMessage
                    </div>
                }
                else
                {
                    if (TempData["MENSAJE_C"] != null)
                    {
                        <div class="alert alert-warning" role="alert">
                            @TempData["MENSAJE_C"]
                        </div>
                    }
                    <form class="mb-4" action="@Url.Action("CambiarContrasena","USUARIOS")" method="post" autocomplete="off">
                        @Html.HiddenFor(model => model.ID_USUARIO)
                        <div class="mb-4">
                            <label class="form-label font-weight-bold">Contraseña actual:</label>
                            <div class="password-input">
                                <input name="CONTRASENA_ACTUAL" type="password" class="form-control bg-dark-x border-0" placeholder="Ingresa tu contraseña actual" required>
                                <i id="toggleIcon1" class="fa fa-eye-slash"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.CONTRASENA_ACTUAL, "", new { @class = "error-message" })
                        </div>

                        <div class="mb-4">
                            <label class="form-label font-weight-bold">Contraseña nueva:</label>
                            <div class="password-input">
                                <input name="CONTRASENA_NUEVA" type="password" class="form-control bg-dark-x border-0" placeholder="Ingresa tu contraseña nueva" required>
                                <i id="toggleIcon2" class="fa fa-eye-slash"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.CONTRASENA_NUEVA, "", new { @class = "error-message" })
                        </div>

                        <div class="mb-4">
                            <label class="form-label font-weight-bold">Confirmación contraseña nueva:</label>
                            <div class="password-input">
                                <input name="CONFIRMAR_CONTRASENA_U" type="password" class="form-control bg-dark-x border-0" placeholder="Repetir contraseña nueva" required>
                                <i id="toggleIcon3" class="fa fa-eye-slash"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.CONFIRMAR_CONTRASENA_U, "", new { @class = "error-message" })
                        </div>
                        <script>
                            document.getElementById('toggleIcon1').addEventListener('click', function () {
                                var passwordInput = document.getElementsByName('CONTRASENA_ACTUAL')[0];
                                var toggleIcon = document.getElementById('toggleIcon1');

                                if (passwordInput.type === 'password') {
                                    passwordInput.type = 'text';
                                    toggleIcon.classList.remove('fa-eye-slash');
                                    toggleIcon.classList.add('fa-eye');
                                } else {
                                    passwordInput.type = 'password';
                                    toggleIcon.classList.remove('fa-eye');
                                    toggleIcon.classList.add('fa-eye-slash');
                                }
                            });

                            document.getElementById('toggleIcon2').addEventListener('click', function () {
                                var passwordInput = document.getElementsByName('CONTRASENA_NUEVA')[0];
                                var toggleIcon = document.getElementById('toggleIcon2');

                                if (passwordInput.type === 'password') {
                                    passwordInput.type = 'text';
                                    toggleIcon.classList.remove('fa-eye-slash');
                                    toggleIcon.classList.add('fa-eye');
                                } else {
                                    passwordInput.type = 'password';
                                    toggleIcon.classList.remove('fa-eye');
                                    toggleIcon.classList.add('fa-eye-slash');
                                }
                            });

                            document.getElementById('toggleIcon3').addEventListener('click', function () {
                                var passwordInput = document.getElementsByName('CONFIRMAR_CONTRASENA_U')[0];
                                var toggleIcon = document.getElementById('toggleIcon3');

                                if (passwordInput.type === 'password') {
                                    passwordInput.type = 'text';
                                    toggleIcon.classList.remove('fa-eye-slash');
                                    toggleIcon.classList.add('fa-eye');
                                } else {
                                    passwordInput.type = 'password';
                                    toggleIcon.classList.remove('fa-eye');
                                    toggleIcon.classList.add('fa-eye-slash');
                                }
                            });
                        </script>
                        <button type="submit" class="btnA btn-primary w-100">Cambiar Contraseña</button>
                    </form>
                }
                <div style="display: flex; justify-content: center; margin-top: 10px;">
                    <a href="@Url.Action("Rol", "USUARIOS", new { ID_USUARIO = Model.ID_USUARIO })" class="font-weight-bold text-decoration-none">
                        Volver al inicio
                    </a>
                </div>
            </div>
        </div>

    </section>
</body>
</html>













