@model IEnumerable<SERVICE_MARKET.Models.multipleModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<body>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }
    else
    {
        <select class="bg-dark-x border-0 form-control" name="ID_CIUDAD_FK" required>
            <option value="">Selecciona una ciudad</option>
            @foreach (var ciudad in Model)
            {
                if (ciudad.ID_CIUDAD == ViewBag.SelectedCiudadId)
                {
                    <option value="@ciudad.ID_CIUDAD" selected>@ciudad.NOMBRE_CIUDAD</option>
                }
                else
                {
                    <option value="@ciudad.ID_CIUDAD">@ciudad.NOMBRE_CIUDAD</option>
                }
            }
        </select>
    }
</body>
</html>

