
@{
    ViewBag.Title = "Términos y Condiciones";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maxium-scale=1.0, minimum-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/InfoFooter.css" rel="stylesheet" />
    <link href="~/Content/Css/Layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <div class="justify-content-center">
                    <a id="service" class="navbar-brand text-center" href="@Url.Action("Rol", "USUARIOS")">
                        <img id="logo" src="~/Logos/logo.png" />
                        Service Market
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container drop">
            <section class="flex_center">
                <div class="tc_main">
                    <div class="tc_content">
                        <div class="tc_top">
                            <div class="icon">
                                <i class="fa-solid fa-clipboard" style="color: #1b6bc2;"></i>
                            </div>
                            <div class="title">
                                <p>Términos y Condiciones de Utilización del Sitio Web</p>
                            </div>
                            <div class="info">
                                <p><span class="fw-bold">Bienvenido(a) a Service Market.</span>Antes de utilizar nuestro sitio web y los servicios relacionados, te pedimos que leas detenidamente estos Términos y Condiciones. Estos términos establecen tus derechos y responsabilidades al acceder y utilizar nuestro sitio web, así como los servicios que ofrecemos. Es importante que comprendas y aceptes estos términos antes de continuar utilizando nuestro sitio web.</p>
                            </div>
                        </div>

                        <div class="tc_bottom">
                            <div class="title">
                                <p>Aceptación de los Términos y Condiciones</p>
                            </div>
                            <div class="info">
                                <p>Al acceder o utilizar el sitio web de Service Market, aceptas estar legalmente vinculado por estos Términos y Condiciones, así como por nuestra Política de Privacidad. Si no estás de acuerdo con alguno de estos términos, te recomendamos que no utilices nuestro sitio web.</p>
                                <p><span class="fw-bold">Descripción del Servicio:</span> Service Market es una plataforma en línea que conecta a usuarios con proveedores de servicios en diversas áreas. Queremos destacar que no nos hacemos responsables de la calidad, exactitud o disponibilidad de los servicios prestados por los proveedores. Nuestro papel se limita a facilitar la conexión entre los usuarios y los proveedores de servicios.</p>
                                <p><span class="fw-bold">Limitación de Responsabilidad:</span> Service Market no asume responsabilidad por los pagos, acuerdos u otros aspectos relacionados con los servicios proporcionados por los proveedores. No garantizamos la calidad, seguridad o legalidad de los servicios ofrecidos por los proveedores de servicios. Cualquier problema o disputa entre los usuarios y los proveedores de servicios debe ser resuelto directamente entre las partes involucradas.</p>
                                <p>
                                    <span class="fw-bold">Obligaciones de los Usuarios:</span> Al utilizar nuestro sitio web, aceptas cumplir con las siguientes obligaciones:
                                    <ul>
                                        <li>Proporcionar información precisa y actualizada al registrarte en Service Market.</li>
                                        <li>Utilizar los servicios de Service Market únicamente con fines legales y de acuerdo con la legislación aplicable.</li>
                                        <li>Respetar los derechos de propiedad intelectual de Service Market y de terceros.</li>
                                        <li>No utilizar el sitio web para difamar, acosar, amenazar o violar los derechos de privacidad de otros usuarios o proveedores de servicios.</li>
                                        <li>No utilizar el sitio web para distribuir contenido ilegal, ofensivo o inapropiado.</li>
                                    </ul>
                                </p>
                                <p><span class="fw-bold">Propiedad Intelectual:</span> El sitio web de Service Market, incluyendo todo su contenido y funcionalidad, es propiedad exclusiva de Service Market o sus licenciantes y está protegido por las leyes de propiedad intelectual aplicables. No se otorga ningún derecho de propiedad sobre el contenido o la tecnología utilizada en nuestro sitio web.</p>
                                <p><span class="fw-bold">Protección de Datos:</span> En Service Market, nos comprometemos a proteger su privacidad y a gestionar sus datos personales de acuerdo con nuestra Política de Privacidad. Al utilizar nuestro sitio web, usted acepta el procesamiento de sus datos personales de acuerdo con nuestra Política de Privacidad</p>
                                <p><span class="fw-bold">Terminación:</span> Service Market se reserva el derecho de suspender o terminar su acceso al sitio web y a los servicios en cualquier momento y por cualquier motivo, sin previo aviso.</p>
                                <p><span class="fw-bold">Modificaciones de los Términos y Condiciones:</span> Service Market se reserva el derecho de realizar modificaciones en estos Términos y Condiciones en cualquier momento. Dichas modificaciones entrarán en vigencia a partir de su publicación en nuestro sitio web. Se recomienda revisar periódicamente los Términos y Condiciones para estar informado sobre los cambios. Al continuar utilizando el sitio web después de la publicación de cualquier modificación, usted acepta los Términos y Condiciones actualizados.</p>
                                <p><span class="fw-bold">Enlaces a Terceros:</span> Nuestro sitio web puede contener enlaces a sitios web de terceros que están fuera del control y la operación de Service Market. Estos enlaces se proporcionan únicamente para su conveniencia y no implican nuestro respaldo ni nuestra responsabilidad sobre el contenido, las políticas de privacidad o las prácticas de esos sitios web de terceros. Le recomendamos encarecidamente que revise los términos y condiciones y la política de privacidad de cualquier sitio web de terceros que visite. Tenga en cuenta que al hacer clic en estos enlaces, abandonará nuestro sitio web y estará sujeto a los términos y condiciones específicos del sitio web de terceros. No asumimos ninguna responsabilidad por las acciones, contenido o prácticas de terceros enlazados desde nuestro sitio web.</p>
                                <p><span class="fw-bold">Indemnización:</span> Usted acepta indemnizar y eximir de responsabilidad a Service Market, sus directores, empleados y agentes, de cualquier reclamo, demanda o daño que surja de su incumplimiento de estos Términos y Condiciones, violación de la ley o derechos de terceros. Esto incluye los honorarios razonables de abogados.</p>
                                <p><span class="fw-bold">Renuncia de Garantías:</span> Service Market no ofrece garantías sobre la calidad, seguridad, confiabilidad o disponibilidad del sitio web y los servicios ofrecidos. El uso del sitio web es bajo su propio riesgo y Service Market no asume ninguna responsabilidad por cualquier daño resultante del uso del sitio web.</p>
                                <p><span class="fw-bold">Ley Aplicable y Jurisdicción:</span> Estos Términos y Condiciones se rigen por las leyes de la República de Colombia. Cualquier disputa relacionada con estos términos estará sujeta a la jurisdicción exclusiva de los tribunales colombianos.</p>
                            </div>
                            <div class="title">
                                <p>Compromiso y respaldo</p>
                            </div>
                            <div class="info">
                                <p>Estos Términos y Condiciones constituyen el acuerdo completo entre usted y Service Market en relación con el uso del sitio web y los servicios relacionados. Si tienes alguna pregunta o inquietud sobre estos términos, por favor contáctanos a través de los canales proporcionados en el sitio web.</p>
                                <p><span class="fw-bold">Fecha de entrada en vigencia:</span> @DateTime.Now.ToString("dd/MM/yyyy")</p>
                            </div>
                            <div class="title">
                                <p>Gracias por utilizar Service Market <br /> Esperamos que tenga una experiencia satisfactoria al utilizar nuestros servicios.</p>
                            </div>
                            <div style="display: flex; justify-content: center;">
                                <a href="@Url.Action("Rol", "USUARIOS")" class="btn-style m-2 text-decoration-none drop">Volver al inicio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <div class="footer-col">
            <h4>Service Market</h4>
            <ul class="ul">
                <li><a href="@Url.Action("SobreNosotros", "USUARIOS")">Sobre nosotros</a></li>
                <li><a href="@Url.Action("NuestrosServicios", "USUARIOS")">Nuestros servicios</a></li>
                <li><a href="@Url.Action("TerminosCondiciones", "USUARIOS")">Términos y condiciones</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Desarrollador</h4>
            <ul class="ul">
                <li><a href="#">Yesenia Quejada Rojas</a></li>
                <li><a href="#">Valentina Zapata Florez</a></li>
                <li><a href="#">&copy; @DateTime.Now.Year</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Síguenos</h4>
            <div class="links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

