@model IEnumerable<SERVICE_MARKET.Models.multipleModel>

@{
    ViewBag.Title = "Categorías";
    Layout = "~/Views/Shared/_Layout_Administrador.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maxium-scale=1.0, minimum-scale=1.0">
    <title>@ViewBag.Title - Service Market</title>
    <link rel="shortcut icon" href="~/Logos/logo.png" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Administrador.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <main class="container" style="margin-top: 100px;">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="error-message alert alert-danger" role="alert" style="font-size: 20px;">
                @ViewBag.ErrorMessage
            </div>
            <a class="btn btn-outline-primary btn-lg btn-dynamic m-2" href="@Url.Action("Index", "ADMINISTRADOR")">Volver al inicio</a>
        }
        else
        {
            <script>
                /*Desplazamiento de la página hacia arriba cuando se carga una nueva página*/
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
            </script>

            <div class="container">
                <h1 class="titulo text-center">Categorías</h1>

                @if (TempData["MessageExitoCat"] != null)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size: 20px;">
                        @TempData["MessageExitoCat"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <!-- -----------------------------CREAR CATEGORIAS----------------------------- -->
                <button class="btn btn-outline-success btn-lg btn-dynamic m-2" onclick="crearCategorias()">Crear Nueva</button>
                <script>
                    function crearCategorias() {
                        $('#NOMBRE_CAT').val('');
                        $('#DESCRIPCION_CAT').val('');
                        $('#ModalCategorias').modal('show');
                    }

                    $('#ModalCategorias').on('hidden.bs.modal', function () {
                        $('#NOMBRE_CAT').val('');
                        $('#DESCRIPCION_CAT').val('');
                    });

                    $('#FormCategorias').submit(function (event) {
                        event.preventDefault();

                        var nombreCategoria = $('#NOMBRE_CAT').val();
                        var descripcionCategoria = $('#DESCRIPCION_CAT').val();

                        if (nombreCategoria.trim() !== "") {
                            $.ajax({
                                url: '@Url.Action("CrearCategorias", "ADMINISTRADOR")',
                                type: 'POST',
                                data: { NOMBRE_CAT: nombreCategoria, DESCRIPCION_CAT: descripcionCategoria },
                                success: function () {
                                    window.location.href = '@Url.Action("Categorias", "ADMINISTRADOR")';
                                },
                                error: function () {
                                    alert('Ocurrió un error al crear la categoría. Por favor, inténtalo de nuevo más tarde.');
                                }
                            });
                        }
                    });
                </script>

                <div id="ModalCategorias" class="modal fade" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title fw-bold" style="color: #1b6bc2;">Crear Categoría</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="FormCategorias" method="post" action="@Url.Action("CrearCategorias", "ADMINISTRADOR")" autocomplete="off">
                                    <div class="form-group">
                                        <label for="NOMBRE_CAT" style="font-size: 18px;">Nombre de la categoría:</label>
                                        <input type="text" class="form-control" id="NOMBRE_CAT" name="NOMBRE_CAT" placeholder="Ingresa el nombre de la categoría" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="DESCRIPCION_CAT" style="font-size: 18px;">Descripción:</label>
                                        <textarea type="text" class="form-control" id="DESCRIPCION_CAT" name="DESCRIPCION_CAT" placeholder="Ingresa la descripción de la categoría" style="height: 200px; resize: none;" required></textarea>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary btn-dynamic m-2" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-success btn-dynamic">Crear</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="btn btn-outline-primary btn-lg btn-dynamic m-2" href="@Url.Action("Index","ADMINISTRADOR")">Volver al inicio</a>

                <table class="table bg-dark">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var categorias in Model)
                        {
                            <tr>
                                <td>@categorias.ID_CATEGORIA</td>
                                <td>@categorias.NOMBRE_CAT</td>
                                <td>@categorias.DESCRIPCION_CAT</td>
                                <td>
                                    <button class="btn btn-secondary btn-sm m-1" onclick="editarCategoria('@categorias.ID_CATEGORIA', '@categorias.NOMBRE_CAT', '@categorias.DESCRIPCION_CAT')"><i class="fa-solid fa-pen-to-square"></i></button>
                                    <a class="btn btn-danger btn-sm m-1" href="#" onclick="confirmarEliminacion(event, @categorias.ID_CATEGORIA)"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!-- -----------------------------EDITAR CATEGORIAS----------------------------- -->
            <script>
                function editarCategoria(ID_CATEGORIA, NOMBRE_CAT, DESCRIPCION_CAT) {
                    $('#ID_CATEGORIA').val(ID_CATEGORIA);
                    $('#NOMBRE_CAT').val(NOMBRE_CAT);
                    $('#DESCRIPCION_CAT').val(DESCRIPCION_CAT);
                    $('#ModalCategoriasEditar').modal('show');
                }

                $('#ModalCategoriasEditar').on('hidden.bs.modal', function () {
                    $('#ID_CATEGORIA').val('');
                    $('#NOMBRE_CAT').val('');
                    $('#DESCRIPCION_CAT').val('');
                });

                $('#FormCategoriasEditar').submit(function (event) {
                    event.preventDefault();

                    var idCategoria = $('#ID_CATEGORIA').val();
                    var nombreCategoria = $('#NOMBRE_CAT').val();
                    var descripcionCategoria = $('#DESCRIPCION_CAT').val();

                    if (nombreCategoria.trim() !== "") {
                        $.ajax({
                            url: '@Url.Action("EditarCategoria", "ADMINISTRADOR")',
                            type: 'POST',
                            data: { ID_CATEGORIA: idCategoria, NOMBRE_CAT: nombreCategoria, DESCRIPCION_CAT: descripcionCategoria },
                            success: function () {
                                window.location.href = '@Url.Action("Categorias", "ADMINISTRADOR")';
                            },
                            error: function () {
                                alert('Ocurrió un error al editar la categoría. Por favor, inténtalo de nuevo más tarde.');
                            }
                        });
                    }
                });
            </script>

            <div id="ModalCategoriasEditar" class="modal fade" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title fw-bold" style="color: #1b6bc2;">Editar Categoría</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="FormCategoriasEditar" method="post" action="@Url.Action("EditarCategoria", "ADMINISTRADOR")" autocomplete="off">
                                <input type="hidden" id="ID_CATEGORIA" name="ID_CATEGORIA" value="">
                                <div class="form-group">
                                    <label for="NOMBRE_CAT" style="font-size: 18px;">Nombre de la categoría:</label>
                                    <input type="text" class="form-control" id="NOMBRE_CAT" name="NOMBRE_CAT" required>
                                </div>
                                <div class="form-group">
                                    <label for="DESCRIPCION_CAT" style="font-size: 18px;">Descripción:</label>
                                    <textarea type="text" class="form-control" id="DESCRIPCION_CAT" name="DESCRIPCION_CAT" style="height: 200px; resize: none;" required></textarea>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary btn-dynamic m-2" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-success btn-dynamic">Actualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- -----------------------------BORRAR CATEGORIAS----------------------------- -->
            <script>
                function confirmarEliminacion(event, idCategoria) {
                    event.preventDefault();
                    swal({
                        title: "¿Estás seguro?",
                        text: "Esta acción no se puede deshacer",
                        icon: "info",
                        buttons: true,
                        dangerMode: true,
                    }).then((result) => {
                        if (result) {
                            eliminarCategoria(idCategoria);
                        }
                    });
                }
                function eliminarCategoria(idCategoria) {
                    var url = '@Url.Action("BorrarCategoria", "ADMINISTRADOR", new { ID_CATEGORIA = "__idCategoria__" })';
                    url = url.replace('__idCategoria__', idCategoria);

                    $.post(url, function () {
                        swal({
                            icon: "success",
                            title: "La categoría se eliminó correctamente",
                            confirmButtonText: "OK",
                            closeOnConfirm: false,
                        }).then((result) => {
                            if (result) {
                                window.location.href = '@Url.Action("Categorias", "ADMINISTRADOR")';
                            }
                        });
                    }).fail(function () {
                        swal({
                            title: "Error",
                            text: "Ocurrió un error al eliminar la categoría. Por favor, inténtalo de nuevo más tarde.",
                            icon: "error",
                        });
                    });
                }
            </script>

            <div class="pagination justify-content-center">
                <ul class="pagination">
                    @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <li class="page-item @(i == ViewBag.PaginaActual ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Categorias", "ADMINISTRADOR", new { pagina = i })">@i</a>
                        </li>
                    }
                </ul>
            </div>
        }
    </main>

    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>