@model IEnumerable<SERVICE_MARKET.Models.multipleModel>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout_Administrador.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maxium-scale=1.0, minimum-scale=1.0">
    <title>@ViewBag.Title - Service Market</title>
    <link rel="shortcut icon" href="~/Logos/logo.png" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Administrador.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <main class="container" style="margin-top: 100px;">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="error-message alert alert-danger" role="alert" style="font-size: 20px;">
                @ViewBag.ErrorMessage
            </div>
            <a class="btn btn-outline-primary btn-lg btn-dynamic m-2" href="@Url.Action("Index", "ADMINISTRADOR")">Volver al inicio</a>
        }
        else
        {
            <script>
                /*Desplazamiento de la página hacia arriba cuando se carga una nueva página*/
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
            </script>

            <div class="container">
                <h1 class="titulo text-center">Usuarios</h1>
                <a class="btn btn-outline-primary btn-lg btn-dynamic m-2" href="@Url.Action("Index", "ADMINISTRADOR")">Volver al inicio</a>

                <!-- -----------------------------LEER USUARIOS----------------------------- -->
                <div class="table-responsive">
                    <table class="table bg-dark">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre completo</th>
                                <th>Celular</th>
                                <th>Ciudad</th>
                                <th>Correo electrónico</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var usuario in Model)
                            {
                                <tr>
                                    <td>@usuario.ID_USUARIO</td>
                                    <td>@usuario.NOMBRE_COMPLETO_USU</td>
                                    <td>+@usuario.CELULAR_USU</td>
                                    <td>@usuario.NOMBRE_CIUDAD</td>
                                    <td>@usuario.CORREO_ELECTRONICO_USU</td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" href="#" onclick="confirmarEliminacion(event, @usuario.ID_USUARIO)"><i class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- -----------------------------BORRAR USUARIOS----------------------------- -->
            <script>
                function confirmarEliminacion(event, idUsuario) {
                    event.preventDefault();
                    swal({
                        title: "¿Estás seguro?",
                        text: "Esta acción no se puede deshacer",
                        icon: "info",
                        buttons: true,
                        dangerMode: true,
                    }).then((result) => {
                        if (result) {
                            eliminarUsuario(idUsuario);
                        }
                    });
                }
                function eliminarUsuario(idUsuario) {
                    var url = '@Url.Action("BorrarUsuario", "ADMINISTRADOR", new { ID_USUARIO = "__idUsuario__" })';
                    url = url.replace('__idUsuario__', idUsuario);

                    $.post(url, function () {
                        swal({
                            icon: "success",
                            title: "El usuario se eliminó correctamente",
                            confirmButtonText: "OK",
                            closeOnConfirm: false,
                        }).then((result) => {
                            if (result) {
                                window.location.href = '@Url.Action("Usuarios", "ADMINISTRADOR")';
                            }
                        });
                    }).fail(function () {
                        swal({
                            title: "Error",
                            text: "Ocurrió un error al eliminar el usuario. Por favor, inténtalo de nuevo más tarde.",
                            icon: "error",
                        });
                    });
                }
            </script>

            <div class="pagination justify-content-center">
                <ul class="pagination">
                    @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <li class="page-item @(i == ViewBag.PaginaActual ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Usuarios", "ADMINISTRADOR", new { pagina = i })">@i</a>
                        </li>
                    }
                </ul>
            </div>
        }
    </main>


    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
</body>
</html>
